<html ng-app="myapp">
<!--angular+bootstrap框架实现移动端页面-->
<head>
    <meta charset="utf-8" />
    <title>RouterApp</title>
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <header>
        <h3>Header</h3>
        <button class="btn btn-success" ng-click="registry()">
            <span class="glyphicon glyphicon-apple"></span>注册
        </button>
        <button class="btn btn-success" ng-click="login()">
            <span class="glyphicon glyphicon-user"></span>登陆
        </button>
    </header>
    <section class="">
        <h3>Section</h3>
        <div ng-view></div>
    </section>
    <footer style="display: flex;justify-content:space-around;">
        <a href="#/" class="btn-lg"><span style="color: red;" class="glyphicon glyphicon-home"></span>首页</a>
        <a href="#/one" class="btn-lg"><span style="color: yellow;" class="glyphicon glyphicon-shopping-cart"></span>ONE</a>
        <a href="#/two" class="btn-lg"><span style="color: cyan;" class="glyphicon glyphicon-export"></span>TWO</a>
        <a href="#/three" class="btn-lg"><span style="color:blue" class="glyphicon glyphicon-book"></span>THREE</a>
        <a href="#/four" class="btn-lg"><span style="color: black;" class="glyphicon glyphicon-cloud-upload"></span>FOUR</a>
    </footer>
    <script src="lib/angular-1.4.6.min.js"></script>
    <script src="lib/angular-1.3.13-route.js"></script>
    <script src="lib/angular-css-1.0.8.min.js"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>